/* * {
  margin: 0;
  padding: 0;
} */
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

div {
  margin: 1% 1% 1% 1%;
  margin-top: 15%;
  width: 100px;
  height: 100px; 
}
h3 {
  text-align: center;
}

.dark {
  background-color: #373737;
}
.red {
  background-color: #DF9291;
}
.blue {
  background-color: #93AFCF;
}

