* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

div {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border: 1px solid red;
}

.a1 {
  background: mistyrose;
}

.a2 {
  background: fuchsia;
}

.a3 {
  background: grey;
}